rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /quotes/{document=**} {
      // only auth
      allow read: if request.auth != null;
      // only admin
      allow write: if request.auth.token.admin;
    }
  }
}